@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
  --cor-de-fundo: #322cdd;
    --branco: #8a83ee;
    --laranja: #2b188b;
    --azul-degrade: linear-gradient(97.54deg, #50579c 35.49%, #7b6dd7 165.37%);
    --fonte-principal: "Poppins";
    --azul: #5a48b8;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
@media screen and (min-width: 1024px) {
  /* Código omitido */

  .swiper-button-prev,
  .swiper-button-next {
    display: block;
    top: 60%;
  }
}
